<!DOCTYPE html>
<html>
  <head>
    <title>ZillowClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.heroBanner = "<%= image_url('hero_banner')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
